<body>
  

    <!-- Form to add a new vehicle -->
    <form action="/addvehicle" method="post">
        <h2>Add Vehicle</h2>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="regNumber">Registration Number:</label>
        <input type="text" id="regNumber" name="regNumber" required>

        <label for="totalLiters">Total Liters:</label>
        <input type="number" id="totalLiters" name="totalLiters" required>

        <label for="totalAmount">Total Amount:</label>
        <input type="number" id="totalAmount" name="totalAmount" required>

        <label for="totalDistance">Total Distance:</label>
        <input type="number" id="totalDistance" name="totalDistance" required>

        <label for="fuelConsumption">Fuel Consumption:</label>
        <input type="number" id="fuelConsumption" name="fuelConsumption">

        <button type="submit">Add Vehicle</button>
    </form>
 <form action="/allcars" method="get">
    <button type="submit">View all cars</button></form>
    

</body>